{% extends "orders_app/base.html" %}

{% block content %}

<form action="/devices/" method="post">
  {% csrf_token %}
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter model, manufacturer or id..." aria-label="Recipient's username" aria-describedby="basic-addon2" name="data_for_search" value="{{ current_name }}">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit" value="OK">Search</button>
    </div>
  </div>
</form>

  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Серийный номер</th>
      <th scope="col">Пользователь</th>
      <th scope="col">Оборудование</th>
      <th scope="col">Статус принадлежности</th>
    </tr>
  </thead>
    <tbody>
      {% for device in devices %}
      <tr>
        <th scope="row">{{device.id}}</th>
        <td>{{device.customer}}</td>
        <td>{{device.analyzer}}</td>
        <td>{{device.owner_status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
